.floating-button {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
    right: 20px;  /* Distancia desde la parte derecha de la pantalla */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    padding: 10px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    bottom: 90px;
  }
  
  .floating-button:hover {
    background-color: #ba220e;
  }
  